/*!--------------------------------------------------------------------
STYLES "Outdated Browser"
Version:    1.1.2 - 2015
author:     Burocratik
website:    http://www.burocratik.com
* @preserve
-----------------------------------------------------------------------*/
#outdated {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 150000;
	background-color: rgba(0,0,0,0.8);
}
#outdated h6 {
	color: white;
	margin: 30px 0 10px;
}
#outdated p {
	color: white;
	margin: 0;
}
#outdated #btnUpdateBrowser {
	margin: 30px auto 0;
	cursor: pointer;
}
#outdated .last[dir='rtl'] {
	right: auto !important;
	left: 25px !important;
}